
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<body>

    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
			    <!-- Sidebar -->
			@await Component.InvokeAsync("_AuthorSideBarComponentPartial")
		        
				<!-- Content -->
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer pb-0">
					    <!-- Menu -->
					@await Component.InvokeAsync("_MenuComponentPartial")

						
					    <!-- About -->
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">Portfolio</h1>
					    </div>

						<!-- Filter -->
                        <div class="select">
			                <span class="placeholder">Select category</span>
			                <ul class="filter">
			                    <li class="filter__item">Category</li>
				                <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">All</a></li>
				                <li class="filter__item" data-filter=".category-design"><a class="filter__link" href="#filter">Web Design</a></li>
				                <li class="filter__item" data-filter=".category-applications"><a class="filter__link" href="#filter">Applications</a></li>
								<li class="filter__item" data-filter=".category-web-development"><a class="filter__link" href="#filter">Web Development</a></li>
			                </ul>
			                <input type="hidden" name="changemetoo"/>
		                </div>

						<!-- Gallery -->
						<div class="gallery-grid js-masonry js-filter-container">
							<div class="gutter-sizer"></div>
							<!-- Item 1 -->
							<div class="gallery-grid__item category-design">
								<a href="/PortfolioDetail/Index/">
								    <div class="gallery-grid__image-wrap">
										<img class="gallery-grid__image cover lazyload" src="~/Template/assets/images/280x204.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
									    <h3 class="title gallery-grid__title">Moonboard</h3>
									    <span class="gallery-grid__category">Web Design</span>
									</div>
								</a>
							</div>
						</div><!-- /Gallery -->
					</div>
		        </div><!-- Content -->
			</div><!-- sticky-parent -->
		</div><!-- container -->
    </main>

    <div class="back-to-top"></div>

	<!-- JavaScripts -->
    
</body>


